@model Opozee.Models.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details Question</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HashTags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HashTags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
